<div class='edit-event-partial'>
  <form
    class='edit-event'
    action='/groups/{{group._id}}/events/{{event._id}}/edit'
    method='GET'
  >
    <button type='submit' class='edit-event-btn'>
      Update
      {{event.name}}
    </button>
  </form>
</div>