<div class="cardGroup">
  <div>
    <img
      src="/images/avatar.png"
      alt="Avatar"
      style="width:100px;height:100px;"
    />
    <div class="containerGroup">
      <h4><b>{{this.name}}</b></h4>
      <p>{{this.description}}</p>
    </div>
  </div>
</div>