/* /* public/stylesheets/style.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column;
  padding: 0 20px; */
  //background: #2e183b;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

// navbar
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px;
}

.navbar {
  background-color: #c2c0cf !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar a:hover {
  color: #2b2b45;
  text-decoration: none;
}

.navbar-brand {
  padding-left: 1rem;
}

#logout-form button {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 17px;
  padding: 0 15px;
  margin: 0 15px;
  transition: 0.3s ease background;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

/* .main {
  display: flex;
  flex: 1;
}

.side-nav {
  flex: 1 1 5rem;
  padding: 0 1rem;
  font-size: 20px;
}

.join-group-btn {
  margin-top: 3rem;
}

.events-div .specs {
  color: #c2c0cf;
}

.article {
  flex: 3 3;
  text-align: center;
}

.article p {
  font-size: 30px;
}

.group-img {
  width: 350px;
  margin: 3rem 0 1.5rem;
}

.group-name {
  font-size: 60px;
  color: #eeaef5;
}

.aside {
  flex: 1 1 5rem;
}

.members {
  font-size: 80px;
  font-weight: 900;
}

.group-members-div {
  padding-top: 1.6rem;
}

.group-members-div li {
  font-size: 40px;
} */

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  //text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  width: 100%;
  padding: 4px;
  margin-bottom: 20px;
} 

#form button {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 21px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #b8b5ff;
  color: #fff;
  border: none;
  transition: 0.3s ease background;
} 

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#form > form > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#form > form > div > * {
  text-align: left;
}
#form input[type='radio'] {
  width: auto;
} */
