<h2>Edit this group</h2>
{{#with group}}
  <form id='form' action='/groups/{{_id}}' method='POST'>
    <label for='name'>Name: </label>
    <input type='text' name='name' id='name' value='{{name}}' />

    <label for='description'>Description: </label>
    <input
      type='text'
      name='description'
      id='description'
      value='{{description}}'
    />

    <label for='photo'>Upload Image: </label>
    <div>
      <input
        accept='image/*'
        type='file'
        id='photo'
        name='photo'
        onchange="(function(e){e.currentTarget.nextSibling.nextSibling.src=window.URL.createObjectURL(e.currentTarget.files[0]||'');})(arguments[0])"
      />
      <img
        id='previwImage'
        src='#'
        alt='your image'
        width='100px'
        height='100px'
      />
    </div>

    <button type='submit'>Edit Group</button>
  </form>
{{/with}}