<h1>Group Details</h1>
<div class="details">
  {{> groupPartial this}}
  {{!-- TODO --}}
  <form action="/groups/add/:name" method="POST" name="name" value="{{name}}">
    <button type="submit">Join this group</button>
  </form>
</div>
