<h3>Groups Page</h3>
<hr/>
{{#if user}}
  <a class="btn btn-primary" href="/groups/new" role="button">New Group</a>
<hr/>
{{/if}}

<div class="container">
  <div class="row row-cols-3 row-cols-sm-1 row-cols-md-2">
    {{#each groups}}
      <div class="col">
        {{> groupPartial this}}
      </div>
    {{/each}}
  </div>
</div>
