<h2>Create an Event</h2>
{{#with group}}
  <form action="/groups/{{_id}}/events" method="POST">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          name
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="group Name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          description
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        name="description"
        placeholder="group Name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Date
        </span>
      </div>
      <input
        class="form-control"
        type="date"
        name="Date"
        placeholder="group Name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          time
        </span>
      </div>
      <input
        class="form-control"
        type="time"
        name="time"
        placeholder="group Name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          address
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        name="address"
        placeholder="group Name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Host
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        name="groupCreator"
        placeholder="group Name"
      />
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Create Event</button>

  </form>
{{/with}}