<h2>Create a Group</h2>
<form action="/groups" method="POST">
	<label for="name">Name: </label>
	<input type="text" name="name" id="name">

	<label for="description">Description: </label>
	<input type="text" name="description" id="description">

	<label for="image">Upload Image: </label>
	{{!-- TODO --}}
	<img type="text" src="" name="image" id="image">
	<button type="submit">Create Group</button>
</form>