<h2>Create an Event</h2>
{{#with group}}
  <form action='/groups/{{_id}}/events' method='POST'>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Name
        </span>
      </div>
      <input
        class='form-control'
        type='text'
        name='name'
        placeholder='Event Name'
      />
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Description
        </span>
      </div>
      <input
        class='form-control'
        type='text'
        name='description'
        placeholder='description'
      />
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Date
        </span>
      </div>
      <input class='form-control' type='date' name='date' placeholder='' />
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Time
        </span>
      </div>
      <input class='form-control' type='time' name='time' placeholder='time' />
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Address
        </span>
      </div>
      <input
        class='form-control'
        type='text'
        name='address'
        placeholder='address'
      />
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          Host
        </span>
      </div>
      <input
        class='form-control'
        type='text'
        name='groupCreator'
        placeholder='host'
      />
    </div>

    <button type='submit' class='btn btn-primary btn-lg'>Create Event</button>
  </form>
{{/with}}